:root {
    --color1: #1B1B1E;
    --color2: #96031A;
    --color3: #6D676E;
    --color4: #FAA916;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--color1) ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    height: 100vh;
}

.menu {
    width: 250px;
    flex-direction: column;
}

.menu h1 {
    padding: 10px;
    font-size: 48px;
}

.menu p {
    padding: 15px;
    font-size: 20px;
}

#colorpicker {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-width: 2px;
    border-color: var(--color2);
}

#sizes {
    width: 100px;
    font-size: 20px;
}

button{
    width: 160px;
    height: 50px;
    display: block;
    margin: 10px;
    padding: 10px;
    border-color: var(--color2);
    font-size: 20px;
}

button:hover {   
    border-color: var(--color2);
    color: var(--color2);
}

.screen {
    display: grid;
    margin-bottom: 100px;
    width: 600px;
    height: 600px;
    background-color: white;
    border: 1px solid var(--color2);
    overflow: hidden;  
}
